{% extends "layout.html" %}
{% block content %}
  <h1>GENERATOR page</h1>
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Input DNA Sequence</legend>
        <div class="form-group">
          {{ form.sequence_name.label(class="form-control-label") }}
          {{ form.sequence_name(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ form.sequence_length.label(class="form-control-label") }}
          {% if form.sequence_length.errors %}
            {{ form.sequence_length(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.sequence_length.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.sequence_length(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-check">
            {{ form.protein(class="form-check-input") }}
            {{ form.protein.label(class="form-check-label") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock content %}
