{% block output %}
{% if modified %}
<div>
  <h2 class="pt-4">OUTPUT</h2>
  <div class='content-section text-break'>
    <h4 class="pt-3">FASTA SEQUENCES</h4>
    <div class='text-monospace'>
      {% for rec in modified %}
      <div class="pb-5">
        {% if draw_plot %}
        <img src="{{ url_for('static', filename='/images/plots/plot') }}{{ loop.index }}.png" alt="plot" height="auto"
          width="100%">
        {% endif %}
        <p>
          >{{ rec.sequence_id }}<br>
          {{ rec.sequence }}<br>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock output %}
